/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* My CSS Style */

body {
    background-color: #222;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 750;
    margin-left: 10px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
}

p, label, button, table, input {
    margin-left: 10px;
}

button {
    cursor: pointer;
}

.container .container1 {
    max-width: 1200px;
    margin: 0 auto;
}

.color2 {
    background-color: #c78c06;
    margin: 10px;
    margin-bottom: 0;
}

li a {
    display: grid;
    grid-template-rows: repeat(5, 5px);
    color: #c78c06;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 2%;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

li a.c1 {
    background-color: #c78c06;
    color: #222;
    padding: 2%;
}

li a:hover:not(.c1) {
    background-color: #c78c06;
    color: #222;
    padding: 2%;
}

form.search-form {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-bottom: 10px;
}

#search {
    flex: 95%;
}

form button {
    flex: auto;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #c78c06;
    background-color: #222;
    cursor: pointer;
    font-size: 20px;
    color: #c78c06;
}

/* main banner & overlaying */

.banner-overlay {
    position: relative;
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    padding: 10% 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    position: relative;
    margin: 5% 0;
    padding: 5% 0;
}

.p1 {
    margin-top: 2%;
}

/* Connect with Us button */
.btn1 {
    background-color: #c78c06;
    padding: 4%;
    margin: 10px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: black;
}

/* About Us */
.bgcolor-1 {
    background-color: #ffe6ac;
}

#AboutUs {
    padding: 10px;
}

#AboutUs img {
    width: 100%;
    height: 100%;
}

.au-h2 {
    margin: 10px;
}

/* Our Services */

.os-margin {
    padding-top: 10px;
}

.white-bg {
    background-color: white;
    padding-bottom: 10px;
}

#Services img {
    width: 100%;
}

.os-bgcolor {
    background-color: #ffe6ac;
    margin: 10px;
}

.os-btn {
    background-color:#222;
    color: white;
    margin: 10px;
    padding: 4%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dt-h3 {
    margin: 10px;
}

/* Marketing Section */

.marketing img {
    width: 100%;
}

.m-bgcolor {
    background-color: #ffe6ac;
    margin: 10px;
}

.m-btn {
    background-color:#222;
    color: white;
    margin: 10px;
    padding: 4%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.m-h3 {
    margin: 10px;
}

/* Video Production Section */

.vproduction img {
    width: 100%;
}

.vp-bgcolor {
    background-color: #ffe6ac;
    margin: 10px;
}

.vp-btn {
    background-color:#222;
    color: white;
    margin: 10px;
    padding: 4%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.vp-h3 {
    margin: 10px;
}

/* Web Development Section */

.wdevelopment img {
    width: 100%;
}

.wd-bgcolor {
    background-color: #ffe6ac;
    margin: 10px;
}

.wd-btn {
    background-color:#222;
    color: white;
    margin: 10px;
    padding: 4%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wd-h3 {
    margin: 10px;
}

/* Print Section */

.print img {
    width: 100%;
}

.p-bgcolor {
    background-color: #ffe6ac;
    margin: 10px;
}

.p-btn {
    background-color:#222;
    color: white;
    margin: 10px;
    padding: 4%;
    border: none;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.p-h3 {
    margin: 10px;
}

/* Our Vision Section */

.ov {
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: white;
}

.ov-btn {
    background-color:#11253d;
    color: white;
    margin: 10px;
    padding: 4%;
    border: 2px solid #c78c06;
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Our Team Section */

.ot-h3 {
    margin-top: 10px;
}

.ot-h4 {
    border-bottom: 3px solid #c78c06;
    margin: 10px;
    margin-top: -5px;
}

.ot-margin {
    padding-top: 10px;
}

.Team1 {
    width: 100%;
}

.ot-grid {
    margin: 10px;
    padding-bottom: 30px;
}

.ot-bgcolor p {
    padding-bottom: 30px;
}

.ot-bgcolor {
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

/* CFO */

.br-h3 {
    margin-top: 10px;
}

.br-h4 {
    border-bottom: 3px solid #c78c06;
    margin: 10px;
    margin-top: -5px;
}

.Team1 {
    width: 100%;
}

/* Contact Us Section */

.cu-h2 {
    padding-top: 30px;
    margin: 10px;
}

.name-margin {
    margin-top: 10px;
}

.email-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    width: 95%;
}

.email {
    width: 95%;
}

.message {
    width: 95%;
    height: 150px;
    margin-bottom: 10px;
}

.cu-btn {
    border: none;
    margin: 10px;
    color: #c78c06;
    font-size: 20px;
}

/* Schedule Section */

table {
    width: 95%;
    border: 1px solid #222;
    margin: 10px;
}

th {
    background-color: #ffe6ac;
    padding: 15px;
    border: 1px solid #222;
}

td {
    padding: 15px;
    text-align: left;
    border: 1px solid #222;
}

/* Google Map Section */

.map {
    margin: 10px;
    width: 95%;
    height: 500px;
}

/* Footer Section */

footer {
    color: #c78c06;
    margin: 10px;
}

footer a {
    color: #c78c06;
}

.f-margin {
    margin-bottom: 10px;
}

/* Media Query for Desktop */

@media screen and (min-width: 760px) {

    /* Navigation and Search Bar */

    .color2 {
        background-color: #222;
    }

    .logo {
        margin-left: 20%;
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        margin: 2%;
    }

    li {
        float:left;
        padding: 2%;
    }

    li a.c1 {
        padding: 1em 2em; 
        margin: 0;
    }

    li a.c2 {
        padding: 1em 2em;
        margin: 0;
    }

    li a:hover:not(.c1) {
        padding: 1em 2em;
    }

    .nav-list {
        margin-left: -40%;
    }
    
    form.search-form {
       width: 50%;
       margin-left: 10%;
    }

    /* Welcome Section */

    .overlay {
        margin: 0 8%;
        padding: 0;
    }

    .banner-overlay {
        height: 330px;
        background-image: url(../images/main-banner.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
    }

    h1 {
        font-size: 85px;
        margin-top: -8%;
        padding: 5% 1%;
    }

    .p1 {
        margin-top: -3%;
        padding: 0 1%;
        font-size: 17px;
    }

    .btn1 {
        font-size: 26px;
        margin: 20px;
        width: 25%;
        padding: 3% 0;
    }

    /* About Us Section */

    #AboutUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0 9%;
    }

    #AboutUs img {
        margin: 16px 7px;
        width: 615px;
        height: 310px;
        padding-bottom: 10px;
    }

    .au-h2 {
        margin-top: -30px;
        font-size: 58px;
        margin-bottom: 20px;
    }

    #AboutUs p {
        font-size: 17px;
    }

    .os-margin {
        margin-top: 6%;
        font-size: 58px;
    }

    .s-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 9%;
    }

    /* Our Services Section */

    #Services {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    /* Marketing */

    .marketing {
        margin-top: 134px;
        grid-column: 4/7;
        grid-row: 1/2;
    }

    /* Video Production */

    .vproduction {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    /* Web Development */

    .wdevelopment {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    /* Print */

    .print {
        grid-column: 5/7;
        grid-row: 2/3;
    }

    h3 {
        font-size: 38px;
    }

    /* Digital Transformation Settings */

    .dt-h3 {
        padding: 20px 7px;
    }

    .dt-p {
        font-size: 17px;
        padding: 0 7px;
    }

    .os-btn {
        padding: 4% 37%;
    }

    /* Marketing Settings */

    .m-h3 {
        padding: 20px 7px;
    }

    .m-p {
        font-size: 17px;
        padding: 0 7px;
    }

    .m-btn {
        padding: 4% 34%;
    }

    /* Video Production Settings */

    .vp-h3 {
        padding: 20px 7px;
    }

    .vp-p {
        font-size: 17px;
        padding: 0 7px;
    }

    .vp-btn {
        padding: 4% 31%;
    }

    /* Web Development Settings */

    .wd-h3 {
        padding: 20px 7px;
    }

    .wd-p {
        font-size: 17px;
        padding: 0 7px;
    }

    .wd-btn {
        padding: 4% 31%;
    }

    /* Print Settings */

    .p-h3 {
        padding: 20px 7px;
    }

    .p-p {
        font-size: 17px;
        padding: 0 7px;
    }

    .p-btn {
        padding: 4% 31%;
    }

    /* Our Vision Section */

    .ov {
        margin-top: -14%;
        padding: 0 9%;
    }

    .ov-h3 {
        padding-top: 35px;
    }

    .ov-p {
        font-size: 17px;
        margin-top: 20px;
    }

    .ov-btn {
        font-size: 24px;
        padding: 3%;
        margin-bottom: 20px;
    }

    /* Our Team Section */

    .ot-margin {
        margin: 2% 9%;
        font-size: 58px;
    }

     .ot-grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin: -1% 9%;
     }

     .ot-grid p {
        font-size: 17px;
     }

     .ot-bgcolor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: -10px;
     }

     .cfo-right {
        grid-row: 1/1;
     }

     h4 {
        font-size: 18px;
     }

     .p-space {
        padding: 2%;
        line-height: 1.7;
     }

    /* Contact Us to Google Map Section */

    .cu-map {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 0 9%;
    }

    /* Contact Us Settings */

    #Contact {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .cu-h2 {
        font-size: 58px;
        margin-top: 4%;
    }

    .cu-h3 {
        margin-top: 8%;
    }

    .text {
        font-size: 17px;
    }

    .name {
        height: 30px;
    }

    .email {
        height: 30px;
    }

    .cu-btn {
        padding: 1%;
        font-size: 25px;
    }

    /* Operating Hours Settings */

    .schedule {
        grid-column: 1/3;
    }

    table {
        width: 100%;
    }

    th, td {
        font-size: 17px;
        border: 2px solid black;
    }

    /* Google Maps Settings */

    .map {
        width: 100%;
    }

    .gmap {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .map-h3 {
        margin-top: 32%;
    }

    /* Footer Section */

    footer {
        padding: 0 9%;
        font-size: 17px;
    }

}