/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* My CSS Style */

body {
    background-color: #222;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 750;
    margin-left: 10px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
}

p, label, button, table, input {
    margin-left: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 15%;
    width: 15%;
}

.color2 {
    background-color: #c78c06;
    margin: 10px;
    margin-bottom: 0;
}

li a {
    display: block;
    color: #c78c06;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 2%;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

li a.c1 {
    background-color: #c78c06;
    color: #222;
    padding: 2%;
}

li a:hover:not(.c1) {
    background-color: #c78c06;
    color: #222;
    padding: 2%;
}

form.search-form {
    display: grid;
    grid-template-columns: 92% 5%;
    margin-bottom: 10px;
}

form button {
    margin-left: 0;
    height: 35px;
    border: 1px solid #c78c06;
    background-color: #222;
    cursor: pointer;
    margin-right: -10px;
}

.fa-solid.fa-magnifying-glass {
    font-size: 20px;
    color: #c78c06;
}

/* main banner & overlaying */

#main-banner {
    max-width: 100%;
    height: auto;
}

.banner-overlay {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 100%;
    height: 77%;
    top: 11%;
}

h1 {
    color: white;
    margin-top: 6%;
}

.p1 {
    color: white;
    margin-top: 2%;
}

/* Connect with Us button */
.btn1 {
    background-color: #c78c06;
    width: 230px;
    height: 80px;
    margin-top: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fa-solid.fa-caret-right {
    font-size: 25px;
    padding-left: 5%;
}

section#AboutUs img {
    width: 100%;
    height: 100%;
}

section.ov img {
    width: 100%;
    height: 100%;
}

/* About Us */
/* .bgcolor-au {
    background-color: #ffe6ac;
    padding: 10px;
    margin-top: -3px;
}

.au-banner {
    display: block;
    width: 100%;
    margin-bottom: 3%;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3%;
}

.p2 {
    font-size: 12px;
}

.p3 {
    font-size: 12px;
    padding-bottom: 20px;
} */